body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #485268;
	background-color: #e5e5e5a4;
}

strong {
	font-weight: 500;
}

.page {
	width: 600px;
	margin: 0 auto;
}

/* #region about */
.about {
	display: flex;
	padding: 32px 40px 24px 40px;
	background-color: #4f186e;
	color: #fff;
}

.about__name {
	margin: 0 0 8px 0;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
}

.about__role {
	margin: 0 0 8px 0;
	font-size: 12px;
	line-height: 15px;
}

.about__text {
	margin: 0;
}

.about__photo {
	max-width: 180px;
	max-height: 150px;
	border-radius: 28%;
	margin-left: 50px;
	box-shadow: 4px 4px 22px rgba(0, 0, 0, 25);
}
/* #endregion */

.main {
	padding: 0px 40px;
	background-color: #fff;
}
/* #region contacts */
.contacts {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}

.contacts__link {
	color: #485268;
	text-decoration: none;
}

.contacts__link img {
	max-width: 30px;
	margin: 0 auto;
}

/* #endregion */

/* #region info */
.info {
	border-top: 1px solid #dee2ed;
	padding: 24px 0;

	display: flex;
	justify-content: space-between;
}

.info__title {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #4f186e;
}

.info__content {
	width: 300px;
}
/* #endregion */

/* #region job */
.job {
	margin-top: 24px;
	border-left: 1px dashed #dee2ed;
	padding-left: 8px;
}

.job:first-child {
	margin-top: 0;
}

.job__title {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-transform: capitalize;
}

.job__description {
	margin: 0;

	margin-top: 8px;
}

/* #endregion */

/* #region study */
.study {
	margin-top: 24px;
	border-left: 1px dashed #dee2ed;
	padding-left: 8px;
}

.study:first-child {
	margin-top: 0;
}

.study__title {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-transform: capitalize;
}

.study__description {
	margin: 0;
	margin-top: 8px;
}

/* #endregion */

/* #region skills */

.skills {
	display: flex;
}

.skills__list {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	border-left: 1px dashed #dee2ed;
	padding-left: 8px;
	list-style: none;
}

.skills__item {
	margin-top: 8px;
}

.skills__item:first-child {
	margin-top: 0;
}

/* #endregion */

/* #region tools */

.tools {
	display: flex;
}

.tools__list {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	border-left: 1px dashed #dee2ed;
	padding-left: 8px;
	list-style: none;
}

.tools__item {
	margin-top: 8px;
}

.tools__item:first-child {
	margin-top: 0;
}

/* #endregion */

/* #region portfolio */

.portfolip {
	display: flex;
}

.portfolip__list {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	border-left: 1px dashed #dee2ed;
	padding-left: 8px;
	list-style: none;
}

.portfolip__item {
	margin-top: 8px;
	text-transform: uppercase;
}

.portfolip__item:first-child {
	margin-top: 0;
}

/* #endregion */

/* #region language */
.language {
	display: flex;
}

.language__list {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	border-left: 1px dashed #dee2ed;
	padding-left: 8px;
	list-style: none;
}

.language__item {
	margin-top: 8px;
	text-transform: uppercase;
}

.language__item:first-child {
	margin-top: 0;
}

/* #endregion */

/* #region form */

.contact h2 {
	text-align: center;
	text-transform: uppercase;
	color: #4f186e;
}

.my__form label {
	display: block;
	font-size: 14p;
	color: #86898f;
}

.my__form input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 1px solid #ccc;
	color: #000;

	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
}

.my__form textarea {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
}

/* #endregion */

/* #region button */
.submit {
	text-decoration: none;
	display: block;
	margin: 0 auto;
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 0 40px 40px #4f186e inset, 0 0 0 0 #4f186e;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	transition: 0.3s ease-in-out;
}
.submit:hover {
	box-shadow: 0 0 10px 0 #4f186e inset, 0 0 10px 4px #4f186e;
	color: #4f186e;
	cursor: pointer;
}

/* #endregion */

/* #region bg */
.bg-yellow {
	background: #fff9dc;
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.bg-green {
	background: #e5ffe7;
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.bg-red {
	background: #ffe5e5;
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

/* #endregion */

/* #region my__animation */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
}
#preloader.hide-preloader {
	animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
	display: none;
}

@keyframes hidePreloader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/* #endregion */
